### Q1

Name the four built-in data structures in python. Give one examples for each

ANS:

1. set

2. dictionary

3. tuple

4. list

### Q2

State two differences between a list and a tuple in Python.

ANS:

1. List is mutable while a tuple is immutable

2. A square bracket is used to create lists while a round bracket is used in the creation of a tuple

### Q3
Make a list containing names of five animals with a variable name `animal_list`

Write a code for the following:
- Print the first two animals
- Print the last two animals
- Add three extra animals to the variable `animal_list`
- Remove the first two animals from the variable `animal_list`
- How many animals are in the `animal_list`?
- Create a variable animal_set which stores the set of animal_list 
- How many elements are in the animal_set?

In [38]:
# list of animals
animal_list = ['dog', 'cat', 'goat', 'sheep', 'donkey']

In [39]:
# first two animals
animal_list[:2]

['dog', 'cat']

In [40]:
# last two animals
animal_list[-2:]

['sheep', 'donkey']

In [41]:
# adding extra animals
animal_list.extend(['lizard', 'monkey', 'cricket'])

animal_list

['dog', 'cat', 'goat', 'sheep', 'donkey', 'lizard', 'monkey', 'cricket']

In [42]:
# remove the last two animals
del animal_list[:2]

animal_list

['goat', 'sheep', 'donkey', 'lizard', 'monkey', 'cricket']

In [43]:
# how many animals are in the list
len(animal_list)

6

In [44]:
# create a variable set
animal_set = set(animal_list)
animal_set

{'cricket', 'donkey', 'goat', 'lizard', 'monkey', 'sheep'}

In [45]:
# length of the set
len(animal_set)

6

### Q4

Given a list:

suitcase = ["sunglasses", "hat", "passport", "laptop", "suit", "shoes"]

a. Create a list called first containing only the two first items from suitcase.

b. Create a list called middle containing only the two middle items from suitcase.

c. Create a list called last made up only of the last two items from suitcase.

In [46]:
suitcase = ["sunglasses", "hat", "passport", "laptop", "suit", "shoes"]

# list containing the first two items
first = suitcase[:2]
first

['sunglasses', 'hat']

In [47]:
# two middle items
middle = suitcase[2:4]
middle

['passport', 'laptop']

In [49]:
# last two items
last = suitcase[-2:]
last

['suit', 'shoes']

### Q5
Write a python code to insert 35 into the list below. Make sure it is inserted in the right position to maintain the order of the data.

`values = [20,25,30,40,45,50,55,60,65,70]`

In [59]:
values = [20,25,30,40,45,50,55,60,65,70]
# we have to insert 35 into the list 
# and maintain the other
# use the insert function
values.insert(3,35)
values

[20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70]

### Q6

Given that Python lists and Python tuples are quite similar â€“ when might you prefer to use a tuple over a list?

Tuples cannot be manipulated. I would use a tuple when i don't want the list to be changed, example an assessment list of students in a class.  A list on the other hand can be changed during the process.

### Q7
Create a dictionary with 5 Ghana regions and their capitals and store it in the variable `region_capital`

- Print out the keys of region_capital
- Print out the values of region_capital

In [60]:
# creating a dictionary
region_capital = {"Ashanti":"Kumasi", "Central":"Cape Coast", "Greater Accra":"Accra", "Upper West":"Wa", "Northern":"Tamale"}
region_capital

{'Ashanti': 'Kumasi',
 'Central': 'Cape Coast',
 'Greater Accra': 'Accra',
 'Upper West': 'Wa',
 'Northern': 'Tamale'}

In [61]:
# printing out the keys
region_capital.keys()

dict_keys(['Ashanti', 'Central', 'Greater Accra', 'Upper West', 'Northern'])

In [62]:
# printing out the values
region_capital.values()

dict_values(['Kumasi', 'Cape Coast', 'Accra', 'Wa', 'Tamale'])

### Q8

`values = [3,4,5,6,3,4,3,5,2,4,2,5,6,1,6]`

Using the codes above answer the following questions:
- What is the total number of elements in values?
- What is the highest occuring number in the values variable?
- Convert values into a set and store it into a variable named `values_set`
- How many elements are in the variable values_set?

In [76]:
values = [3,4,5,6,3,4,3,5,2,4,2,5,6,1,6,3]

# printing the total number of elements
len(values)

16

In [135]:
# highest occuring number in values
# find the mode
# count the number of distinct values
# return the highest duplicate
count_values ={}
for i in values:
    if i in count_values:
        count_values[i] +=1
    else:
        count_values[i]=1
most_frequent = max(count_values, key=count_values.get)
most_frequent

3

In [136]:
# converting values into a set
values_set = set(values)
values_set

{1, 2, 3, 4, 5, 6}

In [75]:
# elements in values_set
len(values_set)

6

### Q9
Write a Python script to print a dictionary where the keys are numbers between 1 and 15 (both included) and the values are the square of the keys.

In [132]:
# output a dictionary
# keys are numbers in range(1,16)
# values square of the keys

output = {}
for i in range(1,16):
    
    output[i] = i**2 
print(output)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

### Q10
Write a Python program to create a dictionary of keys x, y, and z where each key has as value a list from 11-20, 21-30, and 31-40 respectively. Access the fifth value of each key from the dictionary.

In [123]:
 
x_list = []
for x in range(11, 21):
    x_list.append(x)
x_list

y_list = []
for y in range(21, 31):
    y_list.append(y)

z_list = []
for z in range(31, 41):
    z_list.append(z)
dict = {"x":x_list[5], "y":y_list[5], "z":z_list[5]}
dict
    
# dict = {"x": [i], "y":y, "z":z}
# dict

{'x': 16, 'y': 26, 'z': 36}